<%= div_for shop do %>
  <tr>
    <td><%= link_to shop.name, shop %></td>
    <td><%= shop.description %></td>
    <td>
      <%= link_to shop_path(shop),
                  :rel => 'tooltip',
                  :title => 'Share Shop' do %>
        <i class="icon-share"></i>
      <% end %>
      <% if shop.user == current_user %>
        <%= link_to edit_shop_path(shop),
                    :rel => 'tooltip',
                    :title => 'Edit Shop' do %>
          <i class="icon-edit"></i>
        <% end %>
        <%= link_to shop_path(shop),
                    :confirm => 'Are you sure you want to delete this shop?',
                    :method => :delete,
                    :rel => 'tooltip',
                    :title => 'Delete Shop' do %>
          <i class="icon-remove"></i>
        <% end %>
      <% end %>
    <td>
  </tr>
<% end %>
