<% provide(:title, 'Editing shop') %>
<% provide(:page_heading, 'Editing shop') %>

<% if @shop.user.id == current_user.id %>
  <%= render 'form' %>
<% else %>
  <h2>You (id=<%= current_user.id %>) are not allowed to edit other users' (id=<%= @shop.user.id %>) shops </h2>
<% end %>

<%= link_to 'Show', @shop, :class => 'btn' %> 
<%= link_to 'Back', shops_path, :class => 'btn' %>
