<% provide(:title, 'My Shops') %>
<% provide(:page_heading, "#{current_user.fullname}'s Shops") %>

<table>
  <tr>
    <th>Created at</th>
    <th>Name</th>
    <th>Owner</th>
    <th></th>
    <th></th>
  </tr>

<% @shops.each do |shop| %>
  <tr class="<%= cycle("even", "odd") %>">
    <td><%= shop.created_at %></td>
    <td><%= shop.name %></td>
    <td><%= shop.user.fullname %></td>
    <td><%= link_to 'Show', shop %></td>
    <% if current_user && shop.user.id == current_user.id %>
      <td><%= link_to 'Edit', edit_shop_path(shop) %></td>
    <% else %>
      <td>&mdash;</td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shop', new_shop_path, :class => 'btn' %>
