<% provide(:title, "Shop Info - #{@shop.name}") %>

<% content_for :page_heading do %>
  <%= @shop.name %>
  <small><%= @shop.user.fullname %></small>
<% end %>

<% content_for :breadcrumbs do %>
  <ul class="breadcrumb">
  <li><%= link_to "OpenMarket", root_path %> <span class="divider">/</span></li>
  <li class="active"><%= @shop.name %></li>
  </ul>
<% end %>

<hr class="featurette-divider">

<div class="row">
  <div class="span2">
    <%= @shop.description %>
  </div><!-- /.span4 -->
  <div class="span10">
    <table class="table table-bordered">
    <tr><th>Name</th><th>Description</th><th>Actions</th></tr>
    <%= render @shop.items %>
    </table>
  </div><!-- /.span8 -->
</div><!-- /.row -->

<%= link_to 'Shops', shops_path, :class => 'btn' %>
