<% provide(:title, 'Shop Info') %>
<% provide(:page_heading, 'Showing Shop') %>

<p>
  <b>Created at:</b>
  <%= @shop.created_at %>
</p>
<p>
  <b>Created by:</b>
  <%= @shop.user.fullname %>
</p>
<p>
  <b>Name:</b>
  <%= @shop.name %>
</p>
<p>
  <b>Description:</b>
  <%= @shop.description %>
</p>

<% if @shop.user.id == current_user.id %>
  <%= link_to 'Edit', edit_shop_path(@shop), :class => 'btn' %> 
<% end %>
<%= link_to 'Shops', shops_path, :class => 'btn' %>
