<% provide(:title, "Shop Info - #{@shop.name}") %>
<% provide(:page_heading, "#{@shop.name}") %>
<% content_for :breadcrumbs do %>
  <ul class="breadcrumb">
  <li><%= link_to "OpenMarket", root_path %> <span class="divider">/</span></li>
  <li class="active"><%= @shop.name %></li>
  </ul>
<% end %>

  Owned by <%= @shop.user.fullname %>
  <p>
  <b><%= @shop.description %></b>

  <table class="table">
  <tr><th>Name</th><th>Description</th><th>Actions</th></tr>
  <%= render @shop.items %>
  </table>

  <p>
<%= link_to 'Shops', shops_path, :class => 'btn' %>
