<% provide(:title, 'User List') %>
<% provide(:page_heading, 'Listing users') %>

<table>
  <tr>
    <th>Created at</th>
    <th>Email</th>
    <th>Fullname</th>
    <th>Id</th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.created_at %></td>
    <td><%= user.email %></td>
    <td><%= user.fullname %></td>
    <td><%= user.id %></td>
    <td><%= link_to 'Show', user %></td>
<% if user.id == current_user.id %>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
<% else %>
    <td>&mdash;</td>
<% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path, :class => 'btn' %>
