<% provide(:title, 'User Info - ' + "#{@user.fullname}") %>
<% content_for :page_heading do %>
  <%= image_tag(@user.avatar.tiny.url, :class => 'img-polaroid') %> <%= @user.fullname %>
<% end %>

<div class="row">
  <div class="span4">
    <div class="muted">Member Since <%= @user.created_at.to_s(:member_since) %></div>
    <div style="margin: 1.5em 1em">
    <%= image_tag(@user.avatar.url, :class => 'img-polaroid') %>
    </div>
  </div><!-- /.span4 -->
  <div class="span8">
    <h2>Shops</h2>
    <%= paginate @shops %>
    <table class="table">
    <tr><th>Name</th><th>Description</th><th>Actions</th></tr>
    <%= render @shops %>
    </table>
  </div><!-- /.span8 -->
</div><!-- /.row -->

<%= link_to 'Edit', edit_path(@user), :class => 'btn' %>
