<% provide(:title, 'User Info') %>
<% provide(:page_heading, 'Showing User') %>

<p>
  <b>Created at:</b>
  <%= @user.created_at %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Fullname:</b>
  <%= @user.fullname %>
</p>

<p>
  <b>Id:</b>
  <%= @user.id %>
</p>

<p>
  <b>Password digest:</b>
  <%= @user.password_digest %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
