<% provide(:title, 'User Info - ' + "#{@user.fullname}") %>
<% provide(:page_heading, "#{@user.fullname}") %>

<p>
  <b>Fullname:</b>
  <%= @user.fullname %>
</p>

<p>
  <b>Id:</b>
  <%= @user.id %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Created at:</b>
  <%= @user.created_at %>
</p>

<%= link_to 'Edit', edit_user_path(@user), :class => 'btn' %>
