<% provide(:title, "Item - #{@item.shop.name} - #{@item.name}") %>
<% content_for :page_heading do %>
<%= @item.name %>
  <% if @item.active %>
    <span class="label label-success">Active</span>
  <% else %>
    <span class="label">Inactive</span>
  <% end %>
<% end %>

<% content_for :breadcrumbs do %>
  <ul class="breadcrumb">
  <li><%= link_to "OpenMarket", root_path %> <span class="divider">/</span></li>
  <li><%= link_to "#{@item.shop.name}", shop_path(@item.shop) %> <span class="divider">/</span></li>
  <li class="active"><%= @item.name %></li>
  </ul>
<% end %>

<hr class="featurette-divider">

<div class="row">
  <div class="span2">
    <table class="table table-bordered">
    <tr><th>Price</th><td><%= number_to_currency(@item.price, :precision => 2) %></td></tr>
    <tr><th>Quantity</th><td><%= @item.quantity %></td></tr>
    </table>
  </div><!-- /.span4 -->
  <div class="span10">
    <%= @item.description %>
  </div><!-- /.span8 -->
</div><!-- /.row -->

<% if current_user && current_user.id == @item.shop.user_id %>
<%= link_to 'Edit Item', edit_shop_item_path(@item.shop, @item), :class => 'btn btn-primary' %>
<% end %>
