<%= form_for([@item, @photo]) do |f| %>
  <% if @photo.errors.any? %>
    <div class="well">
      <b><%= pluralize(@photo.errors.count, "error") %>
        prohibited this user from being saved:</b>
      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li class="text-error"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <dl class="dl-horizontal">
    <dt><%= f.label :image %></dt>
    <dd>
      <% if action_name == 'edit' %>
        <%= image_tag(@photo.image.thumb.url) %>
        <%= f.hidden_field :image_cache %>
      <% end %>
      <%= f.file_field :image %>
    </dd>
  </dl>

  <dl class="dl-horizontal">
    <dt><%= f.label :caption %></dt>
    <dd><%= f.text_area :caption, :rows => '3', :cols => '50' %></dd>
  </dl>

  <div class="actions">
    <%= f.submit ((action_name == 'edit') ? 'Update photo' : 'Add photo'), :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', shop_item_path(@photo.item.shop, @photo.item), :class => 'btn' %>
  </div>
<% end %>
