<h1>Listing photos</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @photos.each do |photo| %>
  <tr>
    <td><%= image_tag(photo.image.thumb.url, :class => 'img-polaroid') %></td>
    <td><%= link_to 'Show', item_photo_path(photo.item, photo) %></td>
    <td><%= link_to 'Edit', edit_item_photo_path(photo.item, photo) %></td>
    <td><%= link_to 'Destroy', item_photo_path(photo.item, photo) , method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Photo', new_item_photo_path(@item) %>
