<% provide(:title, "New photo for #{@photo.item.shop.name} / #{@photo.item.name}") %>
<% content_for :page_heading do %>
  New photo for <%= @photo.item.name %>
<% end %>

<% content_for :breadcrumbs do %>
  <ul class="breadcrumb">
  <li><%= link_to "OpenMarket", root_path %> <span class="divider">/</span></li>
  <li><%= link_to "#{@photo.item.shop.name}", shop_path(@photo.item.shop) %> <span class="divider">/</span></li>
  <li><%= link_to "#{@photo.item.name}", shop_item_path(@photo.item.shop, @photo.item) %> <span class="divider">/</span></li>
  <li class="active">New photo</li>
  </ul>
<% end %>

<hr class="featurette-divider">

<%= render 'form' %>
